header {
    padding: 50px;
}
main {
    padding-top: 150px;
}
main #resultat {
    margin-top: 50px;
    font-size: 30px;
    padding: 0 20px;
}

.form {
    width: 100%;
    position: fixed;
    bottom: 40px;
}
.inner-form {
    margin-top: 150px;
    border-radius: 5px;
    border: 1px solid gray;
    padding: 20px;
    
}